<div>
    <h1>Sala de cine</h1>
    <div class="card">
        <div class="card-body">
            <form method="POST">
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr class="table-secondary">
                            <th>Total Salas</th>
                            <th>Salas Disponibles</th>
                            <th>Total Películas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>  
                            <td>7</td>
                            <td>15</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <br />
    <div>
        <button type="button" class="btn btn-primary" (click)="backInic()">Pantalla de Inicio</button>
    </div>
</div>
